@page
@model CookieIdentity.Pages.Account.LoginModel
@{
}


<div class="container border p-5">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Credential.UserName"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="Credential.UserName" />
                <span class="text-danger" asp-validation-for="Credential.UserName"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Credential.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" class="form-control" asp-for="Credential.Password" />
                <span class="text-danger" asp-validation-for="Credential.Password"></span>
            </div>
        </div>
        <div class="form-check mb-2 row">
            <div class="col-2">
                <input type="checkbox" asp-for="Credential.RememberMe" class="form-check-input" />
                <label asp-for="Credential.RememberMe" class="form-check-label"></label>
            </div>
            <div class="col-5">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>